{% extends 'blog/blog_layout.html' %}

{% block active %}
    <li><a href="{{ url_for('home_blog') }}">Notre Blog</a></li>
  <li class="active"><a>Article: {{ post.title }}</a></li>
{% endblock active %}


{% block body %}
    <div>
        <h1 class="title">{{ post.title }}</h1>
        <p class="content">{{ post.content }}</p>
    </div>

    <hr/>

    <div>
        <p class="lead">Comments</p>

        {% from 'includes/_formhelpers.html' import render_field2 %}

        <form class="row" method="POST" action="">
            <div class="form-group col-sm-4 ">
                {{ render_field2(form.name, class_="form-control", required="required") }}
            </div>
            <div class="form-group col-sm-10">
                {{ render_field2(form.content, class_="form-control", required="required", rows="10") }}
            </div>
            <div class="form-group col-sm-4">
                <input type="submit" value="Post comment" class="btn btn-default" />
            </div>
        </form>

        <hr/>
        
        {% for comment in post.comments %}
            <blockquote>
                <p>
                    {{ comment.content }}
                </p>
                <footer>
                    via {{ comment.author_name }}
                </footer>
            </blockquote>
        {% endfor %}

    </div>

{% endblock body %}