{% extends 'layout.html' %}

{% block head_title %}
    {{ super() }} - Accueil
{% endblock head_title %}

{% block body %}

	<div class="jumbotron row" id="accueil">
	  <h1 class="text-center">Bienvenue dans notre espace</h1>
	  <img class="col-sm-12 col-md-5" src="{{ url_for('static', filename='img/accueil.jpg') }}" alt="Accueil">     
	  <p class="col-sm-12 col-md-7">Nous sommes spécialisés dans tous types de constructions et nous prenons en charge les projets de A à Z. Vous pouvez nous confier en toute confiance des projets de toutes dimensions, des plus simples aux plus osés. Notre équipe est efficace, réactive et compétente. Nous entretenons toujours un dialogue de tous les instants avec nos clients. Bien qu'à la pointe de notre activité nous pratiquons des prix rigoureux et adaptés à tous les budgets.</p>
	</div>

	<div class="jumbotron row" id="qui">
	  <h1 class="text-center">Une équipe efficace</h1>
	  <img class="col-sm-12 col-md-5 col-md-push-7" src="{{ url_for('static', filename='img/equipe.jpg') }}" alt="Equipe"> 
	  <p class="col-sm-12 col-md-7 col-md-pull-5">Notre équipe est jeune, experte et motivée. Notre entreprise est certifiée ISO 9001. Nous cherchons en permanence à améliorer la qualité de nos services et nous sommes à l'écoute de nos clients.</p>
	</div>

	{% from 'includes/_formhelpers.html' import render_field %}

	<div class="jumbotron" id="contact">
	  <h1 class="text-center">Un message pour nous ?</h1>
	  <form class="row" method="POST" action="{{ url_for('send_message') }}">
	    <div class="form-group col-lg-4">
	      <!-- <input type="email" class="form-control" placeholder="Votre email"> -->
	      {{ render_field(form.email, class_="form-control", required="required", placeholder="Votre email") }}
	    </div>
	    <div class="form-group col-lg-8">
	      <!-- <textarea class="form-control" rows="3" placeholder="Votre message"></textarea> -->
	      {{ render_field(form.content, class_="form-control", required="required", placeholder="Votre message", rows="3") }}
	    </div>
	    <div class="form-group col-lg-12">
	      <button type="submit" class="btn btn-default pull-right">Envoyer</button>
	    </div>
	  </form>
	</div>

{% endblock body %}